@page "/AboutUs"
<PageTitle>About Us</PageTitle>

<MudGrid>
    <MudItem xs="12" sm="12">
       <h2>About us</h2>
       <div class="d-flex justify-center">
    <MudImage ObjectFit="ObjectFit.None"  Height="350" Width="350" Src="Images/logo.PNG" Alt=""  Elevation="10" Class="rounded-circle"/>
    </div><br />
    <MudText>
         Just Dial Limited is India's No. 1 Local Search engine that provides local search related services to users across India through multiple platforms such as website, mobile website, Apps (Android, iOS), over the telephone (voice, pan India number 8888888888) and text (SMS).Justdial has also initiated ‘Search Plus’ services for its users. These services aim at making several day-to-day tasks conveniently actionable and accessible to users through one App. By doing so, it has transitioned from being purely a provider of local search and related information to being an enabler of such transactions. Justdial has also recently launched JD Omni, an end-to-end business management solution for SMEs, through which it intends to transition thousands of SMEs to efficiently run their business online and have adequate online presence via their own website and mobile site. Apart from this, it has also launched JD Pay, a unique solution for quick digital payments for its users and vendors, and JD Social, its official social sharing platform to provide curated content on latest happenings to users. The organisation also aims to make communication between users and businesses seamless through its Real Time Chat Messenger.
    </MudText>
      
       
    </MudItem>

</MudGrid>
@code {
}
